// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cities-content {
  @include outer-container;
  main { @include span-columns(12); }

  svg {
    font-size: 10px;

    .axis {
      path, line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
    }

    .dot {
      stroke: #000;
    }
  }
}
