@import 'leaflet';

#cities-content {
  @include outer-container;
  main { @include span-columns(12); }

  #map { height: 500px; }

  svg {
    font-size: 10px;

    .axis {
      path, line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
    }

    .dot {
      stroke: #000;
    }
  }
}
